<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">About Specialized</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title style="color: black;">Allergists/<br>Immunologists</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      They treat immune system disorders such as asthma, eczema, food allergies,
       insect sting allergies, and some autoimmune diseases.
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title style="color: black;">Dermatologists</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Have problems with your skin, hair, nails? Do you have moles, scars, acne, 
      or skin allergies? Dermatologists can help.
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header style="color: black;">
      <ion-card-title>Infectious Disease Specialists</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      They diagnose and treat infections in any part of your body, like fevers, Lyme disease, 
      pneumonia, tuberculosis, and HIV and AIDS. Some of them specialize in preventive medicine or travel medicine.
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header style="color: black;">
      <ion-card-title>Cardiologists</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      They’re experts on the heart and blood vessels. You might see them for heart failure,
       a heart attack, high blood pressure, or an irregular heartbeat.
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header style="color: black;">
      <ion-card-title>Endocrinologists</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      These are experts on hormones and metabolism. They can treat conditions like diabetes, 
      thyroid problems, infertility, and calcium and bone disorders.
    </ion-card-content>
  </ion-card>
  

</ion-content>
