<ion-header>
  <ion-toolbar>
    <ion-title>Doctor List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor1.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
       </ion-card>
      </ion-col>

    <ion-card>
      <ion-col>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor2.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
      </ion-col>
    </ion-card>

    <ion-card>
      <ion-col>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor 3.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
      </ion-col>
    </ion-card>

    
    <ion-card>
      <ion-col>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor 4.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
      </ion-col>
    </ion-card>

    <ion-card>
      <ion-col>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor 5.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
      </ion-col>
    </ion-card>

    <ion-card>
      <ion-col>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor 4.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
      </ion-col>
    </ion-card>

    <ion-card>
      <ion-col>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor 4.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
      </ion-col>
    </ion-card>

    <ion-card>
      <ion-col>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor 4.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
      </ion-col>
    </ion-card>

    <ion-card>
      <ion-col>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor 4.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
      </ion-col>
    </ion-card>

    <ion-card>
      <ion-col>
        <div><ion-img class="img1" style="width: 300px; height: 200px;" src="assets/doctor 4.png"></ion-img></div>
        <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
        <div class="ion-text-center"><h6>23 Years Experience</h6></div>
        <div class="ion-text-center"><h8>Specialized In</h8></div>
      </ion-col>
    </ion-card>

    </ion-row>
  </ion-grid>

  <ion-button class="ion-padding" expand="full" shape="round" color="light" [routerLink]="['/appointment']">
    Make Appointment
  </ion-button>

   <br><br><br><br>
</ion-content>
