<ion-header>
  <ion-toolbar>
    <ion-title>Cardiologists Specialized</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="border1">
          <div><ion-img class="img1" style="width: 260px; height: 200px;" src="assets/doctor-img/dr.jamal.png"></ion-img></div>
          <div class="ion-text-center"><h1>Dr.Jamal</h1></div>
          <div class="ion-text-center"><h6>11 Years Experience</h6></div>
          <div class="ion-text-center"><h6>Specialized In : </h6></div>
          <div class="ion-text-center"><h8>- Cardiologist</h8></div>
          <br>
         </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card class="border1">
          <div><ion-img class="img1" style="width: 270px; height: 200px;" src="assets/doctor-img/dr.karmila.png"></ion-img></div>
          <div class="ion-text-center"><h1>Dr.Karmila</h1></div>
          <div class="ion-text-center"><h6>16 Years Experience</h6></div>
          <div class="ion-text-center"><h6>Specialized In : </h6></div>
          <div class="ion-text-center"><h8>- Cardiologist</h8></div>
          <div class="ion-text-center"><h8>- Infectious Disease Specialist</h8></div>
          <br>
         </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card class="border1">
          <div><ion-img class="img1" style="width: 280px; height: 200px;" src="assets/doctor-img/dr.johnson.png"></ion-img></div>
          <div class="ion-text-center"><h1>Dr.johnson</h1></div>
          <div class="ion-text-center"><h6>12 Years Experience</h6></div>
          <div class="ion-text-center"><h6>Specialized In : </h6></div>
          <div class="ion-text-center"><h8>- Cardiologist</h8></div>
          <div class="ion-text-center"><h8>- Allergist</h8></div>
          <br>
         </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="border1">
          <div><ion-img class="img1" style="width: 260px; height: 200px;" src="assets/doctor-img/dr.raju.png"></ion-img></div>
          <div class="ion-text-center"><h1>Dr.Raju</h1></div>
          <div class="ion-text-center"><h6>9 Years Experience</h6></div>
          <div class="ion-text-center"><h6>Specialized In : </h6></div>
          <div class="ion-text-center"><h8>- Cardiologist</h8></div>
          <div class="ion-text-center"><h8>- Dermatologist</h8></div>
          <br>
         </ion-card>
        </ion-col>
  
      </ion-row>
    </ion-grid>
  
    <ion-button class="ion-padding" expand="full" shape="round" color="light" [routerLink]="['/appointment']">
      Make Appointment
    </ion-button>
  
     <br><br><br><br>
  </ion-content>
</ion-content>