<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>BMI Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src ="assets/icon/bmi-banner.jpg">
    <ion-card-header>
      <ion-card-title>BMI</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      BMI is a measurement of a person's leanness or corpulence based on their height and weight, 
      and is intended to quantify tissue mass. It is widely used as a general indicator of whether 
      a person has a healthy body weight for their height. Specifically, the value obtained from the 
      calculation of BMI is used to categorize whether a person is underweight, normal weight, overweight, 
      or obese depending on what range the value falls between.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item class="ion-text-center" color="light"> 
      <ion-label><strong>BMI TABLE</strong></ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>BMI table for adults</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      This is the World Health Organization's (WHO) recommended body weight based on BMI values for adults.
      It is used for both men and women, age 18 or older.
      <br><br>
      <img src ="assets//bmi-adult.png">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>BMI table for children and teens, age 2-20</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      The Centers for Disease Control and Prevention (CDC) recommends 
      BMI categorization for children and teens between age 2 and 20.
      <br><br>
      <img src ="assets//bmi-kids.png">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Example BMI Calculator</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src ="assets//bmi-calculator.png">
      <br><br>
      The Body Mass Index (BMI) Calculator may be used to determine BMI and 
      weight status while taking age into account. For the International System of Units, 
      use the "Metric Units" page, or the "Other Units" option to convert units into either 
      US or metric units. It is worth noting that the calculator computes the Ponderal Index 
      in addition to BMI, both of which are addressed in depth below.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>BMI Formula</ion-card-title>
    </ion-card-header>
    <img src ="assets//bmi-formula.png">
    <br><br>
  </ion-card>

</ion-content>
