<ion-header>
  <ion-toolbar>
    <ion-title>Endocrinologists Specialized</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="border1">
          <div><ion-img class="img1" style="width: 270px; height: 200px;" src="assets/doctor-img/dr.redzarif.png"></ion-img></div>
          <div class="ion-text-center"><h1>Dr.Redzarif</h1></div>
          <div class="ion-text-center"><h6>10 Years Experience</h6></div>
          <div class="ion-text-center"><h6>Specialized In : </h6></div>
          <div class="ion-text-center"><h8>- Endocrinologists</h8></div>
          <div class="ion-text-center"><h8>- Allergist</h8></div>
          <br>
         </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card class="border1">
          <div><ion-img class="img1" style="width: 250px; height: 200px;" src="assets/doctor-img/dr.damian.png"></ion-img></div>
          <div class="ion-text-center"><h1>Dr.Damian</h1></div>
          <div class="ion-text-center"><h6>14 Years Experience</h6></div>
          <div class="ion-text-center"><h6>Specialized In : </h6></div>
          <div class="ion-text-center"><h8>- Endocrinologists</h8></div>
          <div class="ion-text-center"><h8>- Infectious Disease Specialist</h8></div>
          <br>
         </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card class="border1">
          <div><ion-img class="img1" style="width: 280px; height: 200px;" src="assets/doctor-img/dr.yung.png"></ion-img></div>
          <div class="ion-text-center"><h1>Dr.Yung</h1></div>
          <div class="ion-text-center"><h6>12 Years Experience</h6></div>
          <div class="ion-text-center"><h6>Specialized In : </h6></div>
          <div class="ion-text-center"><h8>- Endocrinologists</h8></div>
          <div class="ion-text-center"><h8>- Allergist</h8></div>
          <br>
         </ion-card>
        </ion-col>
  
      </ion-row>
    </ion-grid>
  
    <ion-button class="ion-padding" expand="full" shape="round" color="light" [routerLink]="['/appointment']">
      Make Appointment
    </ion-button>
  
     <br><br><br><br>
  </ion-content>
</ion-content>