<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ovulation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="assets/icon/period1.png">
</ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title size="4"> How to calculate the menstrual cycle? </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/icon/period2.png">
      <p>  To calculate your menstrual cycle, count the days between your last few periods.
         Begin counting on the first day of your period to the day before your next period.
         Do this for a few cycles, and add up the total number of days, dividing it by the number of cycles. </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title size="4"> How to calculate the date of my next period? </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>  This bit is easy. Simply start on the first day of your last period and count out the number of days in your average cycle calculated above. 
        That’s the estimated start date of your next period. </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title size="4"> The average length of a menstrual cycle </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/icon/period2.png">
      <p>  The typical menstrual cycle is 28 days which means you’ll get your period about every 28 days. 
        In reality, though, these days vary from every woman and can be anywhere between 21 and 35 days, which is normal. 
        As mentioned, in the beginning, your period will be slightly irregular with some misses, but it will normalize typically in a year. </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title size="4"> Quick tips: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>  - Always keep a track of your menstrual cycle, any symptoms such as abdominal cramping, breast tenderness and mood changes. This will help you plan a pregnancy better.
       <br>
       <br>
        - Keep a rough graph of your ovulation days in mind and watch out for symptoms.
       <br>
       <br>
        - Keep track of your basal body temperature for at least three periods. This will help you notice a rise in the temperature just after ovulation, typically less than half a degree Fahrenheit. </p>
    </ion-card-content>
  </ion-card>

</ion-content>
